.mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 20% 0% 20%;
}

.resultDiv {
    cursor: pointer;
    width: 300px;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: #05030511;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileImage {
    height: 48px;
    margin-right: 30px;
    border-radius: 10px;
}

.name{
    font-weight: bold;
}

.profileText {
    
}